<section id="publications">
    <h2>Publication</h2>
    <ul>
        <li><strong>PatchVLA: Process-Aware Test-Time Critic-Guided Search for Long-Horizon Manipulation</strong> (Under Review)</li>
    </ul>

    <ul>
        <li><strong><a href="https://onlinelibrary.wiley.com/doi/full/10.1002/aisy.202300381">An Aerial–Aquatic
                    Hitchhiking Robot with Remora-Inspired Tactile Sensors and Thrust Vectoring Units</a></strong> in
            Advanced Intelligent Systems</li>

    </ul>
</section>
