<section id="projects">
    <h2>🛠️ Projects</h2>

    <div class="experience-item">
        <h3>
            <span>BR Robotics Team <img src="./images/brlogo.webp" alt="BR" loading="lazy"></span>
            <div class="muted">Aug 2022 – Jun 2024</div>
        </h3>

        <p>I was a member of the BR Robotics Team for two years, representing Beihang University in the ROBOCON 2023,
            RoboMaster 2024, and ROBOCON 2024 competitions. As my skills developed, our team achieved increasingly
            impressive results. <span class="red">We got national third place in the 2024 China University Robot
                Competition (ROBOCON)</span>.</p>

        <div class="video-grid" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 10px;">
            <iframe
                src="//player.bilibili.com/player.html?isOutside=true&aid=358108413&bvid=BV1mX4y1Y7Pd&cid=1187445702&p=1"
                scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"
                style="width: 45%; aspect-ratio: 16 / 9;"></iframe>
            <iframe
                src="//player.bilibili.com/player.html?isOutside=true&aid=1302854537&bvid=BV1zM4m197an&cid=1495784623&p=1"
                scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"
                style="width: 45%; aspect-ratio: 16 / 9;"></iframe>
            <iframe
                src="//player.bilibili.com/player.html?isOutside=true&aid=112899104180386&bvid=BV1Kav9e5EfW&cid=500001637420342&p=1"
                scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"
                style="width: 45%; aspect-ratio: 16 / 9;"></iframe>
            <iframe
                src="//player.bilibili.com/player.html?isOutside=true&aid=1006197069&bvid=BV1qx4y1x7nz&cid=1612987246&p=1"
                scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"
                style="width: 45%; aspect-ratio: 16 / 9;"></iframe>
        </div>

        <ul>
            <li><a
                    href="https://github.com/ZhouhaoZhang/My_Project_Portfolio/tree/main/robotics%20team%20of%20BUAA/ROBOCON2023">Auto-shoot
                    Algorithm for Racing Robot in CURC ROBOCON 2023</a>: This algorithm combines LiDAR, wheel odometry,
                and IMU data for target localization, while a deep learning model identifies and tracks targets. The
                localization data refines the shooting accuracy by calculating angular deviations, which are then
                transmitted to the motor driver. The performance in the 2023 CURC ROBOCON competition validated the
                algorithm’s precision and robustness.</li>
        </ul>

        <div class='gallery-row'>
            <div class="gallery-item">
                <img src='./images/RC2023_field.webp' loading="lazy">
            </div>
            <div class="gallery-item">
                <img src='./images/robocon.webp' loading="lazy">
            </div>
            <div class="gallery-item">
                <img src='./images/elephant.webp' loading="lazy">
            </div>
            <div class="gallery-item">
                <img src='./images/rabbit.webp' loading="lazy">
            </div>
        </div>

        <div class='gallery-row'>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/path.webm' type="video/webm">
                </video>

            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/aim.webm' type="video/webm">
                </video>
            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/grasp.webm' type="video/webm">
                </video>
            </div>
        </div>

        <ul>
            <li><a
                    href="https://github.com/ZhouhaoZhang/My_Project_Portfolio/tree/main/robotics%20team%20of%20BUAA/ROBOCON2024">Decision-making
                    algorithm for autonomous robots for ROBOCON 2024</a>: This competition required the development of
                an advanced decision-making algorithm to win by strategically occupying zones in the competition. A
                minimax search algorithm with alpha-beta pruning was implemented. Finite state machine was used to
                manage the robot's behavior.</li>
        </ul>

        <div class='gallery-row'>
            <div class="gallery-item">
                <img src='./images/RC2024_field.webp' loading="lazy">
            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/RC2024_1.webm' type="video/webm">
                </video>

            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/RC2024_2.webm' type="video/webm">
                </video>
            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/rc24v.webm' type="video/webm">
                </video>
            </div>
        </div>

        <ul>
            <li>Target trajectory analysis with stereo camera : To optimize detection efficiency, a sliding window
                technique was introduced, reducing computational load by utilizing previous frame recognition data.
                Triangulation principles calculated 3D coordinates of the target, while Kalman filtering ensured data
                stability and robustness.</li>
        </ul>

        <div class='gallery-row'>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/stereo.webm' type="video/webm">
                </video>

            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/bottle.webm' type="video/webm">
                </video>
            </div>
        </div>

        <ul>
            <li><a
                    href="https://github.com/ZhouhaoZhang/My_Project_Portfolio/tree/main/robotics%20team%20of%20BUAA/training">Team
                    entry test</a>: This test, designed for new team members, required camera pose estimation using the
                Perspective-n-Point (PNP) algorithm. By detecting corner points and establishing correspondences between
                2D images and known 3D coordinates, the camera’s trajectory was calculated.</li>
        </ul>

        <div class='gallery-row'>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/pnp.webm' type="video/webm">
                </video>
            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/pnp2.webm' type="video/webm">
                </video>
            </div>
        </div>

        <ul>
            <li>Team trainning: I provided technical training to new members, covering essential topics such as image
                processing, 3D vision, and introductory courses on Linux and ROS. I contributed to the construction of
                the first RoboMaster team of Beihang University, I led the team got the Second Prize of 23rd RoboMaster.
            </li>
        </ul>

        <div class='gallery-row'>
            <div class="gallery-item">
                <img src='./images/trainning.webp' loading="lazy">
            </div>
            <div class="gallery-item">
                <img src='./images/RM2.webp' loading="lazy">
            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/rmv.webm' type="video/webm">
                </video>
            </div>
        </div>
    </div>

    <div class="experience-item">
        <h3>
            <span>Biomechanics and Soft Robotics Lab <img src="./images/buaalogo.webp" alt="buaa" loading="lazy"></span>
            <div class="muted">Apr 2023 – Oct 2023</div>
        </h3>

        <p>I joined Biomechanics and Soft Robotics Lab led by <a
                href="https://scholar.google.com.hk/citations?user=u86Pm9UAAAAJ&hl=en">Prof. Li Wen</a>. Under the
            guidence of <a href="https://scholar.google.com/citations?user=KId65yQAAAAJ&hl=en">Dr. Lei Li</a>, we
            developed <a href="https://onlinelibrary.wiley.com/doi/10.1002/aisy.202300381">An Aerial–Aquatic Hitchhiking
                Robot with Remora-Inspired Tactile Sensors and Thrust Vectoring Units</a>. My contributions included
            debugging flight control systems, assisting in various experiments, and deploying SLAM and autonomous
            navigation algorithms for the next-generation robots. Equipped with thrust vectoring units and a
            remora-inspired tactile suction cup, this UAV is capable of transitioning between water and air, performing
            agile underwater maneuvers, and conserving energy by hitchhiking on surfaces with varying roughness.</p>

        <div class="video-grid" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 10px;">
            <iframe
                src="//player.bilibili.com/player.html?isOutside=true&aid=619741574&bvid=BV1g84y1d7YH&cid=1301361611&p=1"
                scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"
                style="width: 32%; aspect-ratio: 16 / 9;"></iframe>
            <iframe
                src="//player.bilibili.com/player.html?isOutside=true&aid=865438757&bvid=BV1a54y1u77Y&cid=1035540328&p=1"
                scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"
                style="width: 32%; aspect-ratio: 16 / 9;"></iframe>
            <iframe
                src="//player.bilibili.com/player.html?isOutside=true&aid=733647812&bvid=BV1hD4y1a78V&cid=921457829&p=1"
                scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"
                style="width: 32%; aspect-ratio: 16 / 9;"></iframe>
        </div>

        <div class='gallery-row'>
            <div class="gallery-item">
                <img src='./images/drone1.webp' loading="lazy">
            </div>
            <div class="gallery-item">
                <img src='./images/drone2.webp' loading="lazy">
            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/underwater.webm' type="video/webm">
                </video>
            </div>
        </div>

        <div class='gallery-row'>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/rtabmap.webm' type="video/webm">
                </video>
            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/rtabmap2.webm' type="video/webm">
                </video>
            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/fastlio2.webm' type="video/webm">
                </video>
            </div>
        </div>
    </div>

    <div class="experience-item">
        <h3>
            <span>Graduation Project <img src="./images/cuhklogo.webp" alt="CUHK" loading="lazy"></span>
            <div class="muted">Dec 2023 – Jun 2024</div>
        </h3>

        <p>I completed my graduation project under the remote guidance of <a
                href="https://scholar.google.com/citations?user=iHh7IJQAAAAJ&hl=en&oi=ao">Prof. Qi Dou</a> at the
            Chinese University of Hong Kong. My project focused on task planning for a 7DOF da Vinci Surgical Robot
            using demonstration-guided reinforcement learning and policy chains. Additionally, I worked on surgical
            robot visual manipulation policy learning through world model-based reinforcement learning and developed
            high-level task planning strategies using large language models and behavior trees.</p>

        <div class='gallery-row'>
            <div class="gallery-item">
                <img src='./images/davinci.webp' loading="lazy">
            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/pegboard2.webm' type="video/webm">
                </video>
            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/pegboard.webm' type="video/webm">
                </video>
            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/pegtransfer.webm' type="video/webm">
                </video>
            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/dreamer.webm' type="video/webm">
                </video>
            </div>
        </div>
    </div>

    <div class="experience-item">
        <h3>
            <span>RedBird Challenge Camp at HKUST(GZ) <img src="./images/hkustgzlogo.webp" alt="hkust gz"
                    loading="lazy"></span>
            <div class="muted">Jun 2024</div>
        </h3>

        <p>To enhance factory environment detection, our group designed a mobile intelligent detection robot equipped
            with multiple sensors. I served as the algorithm engineer, implemented 2D SLAM using the Cartographer
            algorithm, and developed autonomous navigation and dynamic obstacle avoidance systems using the ROS
            Navigation stack. I built a factory simulation environment in Gazebo to demonstrate our design.</p>

        <div class='gallery-row'>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/explore.webm' type="video/webm">
                </video>
            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/navs.webm' type="video/webm">
                </video>
            </div>
            <div class="gallery-item">
                <video autoplay loop muted playsinline preload="metadata">
                    <source src='./images/navd.webm' type="video/webm">
                </video>
            </div>
        </div>
    </div>

    <div class="experience-item">
        <h3>
            <span>AI Program in NUS <img src="./images/nuslogo.webp" alt="nus" loading="lazy"></span>
            <div class="muted">Aug 2023</div>
        </h3>

        <p>During my participation in the NUS Artificial Intelligence and Machine Learning Summer Program, I led my team
            to develop an innovative <a href="./AI%20program%20in%20NUS/">Seq2Seq model using LSTM for population
                forecasting</a>, going beyond the basic regression model initially required. Our work earned us winning
            team, and we received high praise from <a
                href="https://scholar.google.com/citations?user=Bm9BwEQAAAAJ&hl=en&oi=ao">Prof. Mehul Motani</a>.</p>
        <div class="gallery-row">
            <div class="gallery-item">
                <img src="images/NUS.webp" loading="lazy" />
            </div>
            <div class="gallery-item">
                <img src="images/NUS2.webp" loading="lazy" />
            </div>
        </div>
    </div>
</section>