<section id="about">
    <h2>Hello</h2>

    <p>
        I'm Zhouhao, a Ph.D student at <a href="https://www.ust.hk/"> The Hong Kong University of Science and Technology</a>,
        my research interests include robotics and embodied AI.
    </p>


    <p>
        In 2025, I was a research intern at King Abdullah University of Science and
        Technology, under the supervision of <a
            href="https://www.kaust.edu.sa/en/study/faculty/shinkyu-park">Prof. Shinkyu Park</a>. My research includes planning and control algorithms for marine robots and UAVs.
    </p>

    <p>
        Prior to this, I was a research intern at <a href="https://www.zhipuai.cn/en/">Zhipu AI</a> robotics lab under the
        leadership of <a href="https://scholar.google.com/citations?user=n1zDCkQAAAAJ&hl=en&oi=ao">Prof. Jie Tang</a>
        and the guidance of <a href="https://scholar.google.com/citations?user=gxdjxrwAAAAJ&hl=en&oi=ao">Dr. Tong
            Yang</a>. My work focuses on the application of foundation models in robotics.
    </p>

    <p>
        I got my Bachelor's degree in Automation from <a href="https://ev.buaa.edu.cn">Beihang University</a>. I was
        honored with the National Scholarship and got national third place in the 2024 China University Robot
        Competition (ROBOCON).
    </p>
</section>
