<section id="awards">
    <h2>🏅 My Awards</h2>
    <ul>
        <li><strong>National Scholarship</strong> | <span class="red">National 0.2%</span>, The Ministry of Education of
            China<div class="float-right muted">Dec 2022</div>
        </li>
        <li><strong>First Prize, 23rd China University Robot Competition (ROBOCON)</strong> | <span class="red">National
                Third Place</span>
            <div class="float-right muted">Jul 2024</div>
        </li>
        <li><strong>Second Prize, 23rd China University Robot Competition (RoboMaster)</strong>
            <div class="float-right muted">Apr 2024</div>
        </li>
        <li><strong>Second Prize, 22nd China University Robot Competition (ROBOCON)</strong>
            <div class="float-right muted">Jul 2023</div>
        </li>
        <li><strong>First Prize, 2022 Five Provinces of North China University Robot Competition</strong>
            <div class="float-right muted">Nov 2022</div>
        </li>
        <li><strong>First Prize, 2022 Beijing University Robot Competition</strong>
            <div class="float-right muted">Nov 2022</div>
        </li>
        <li><strong>Second Prize, China Intelligent Robot Fighting and Gaming Competition</strong>
            <div class="float-right muted">Mar 2023</div>
        </li>
        <li><strong>Third Prize, 38th National College Physics Competition</strong>
            <div class="float-right muted">Dec 2021</div>
        </li>
        <li><strong>Outstanding Graduate Award</strong> | Beihang University<div class="float-right muted">Jun 2024
            </div>
        </li>
        <li><strong>CATIC Scholarship</strong> | <span class="red">Total 10 Places (0.3%) in Beihang University </span>
            <div class="float-right muted">Dec 2023</div>
        </li>
        <li><strong>First Prize, Scholarship in Discipline Competition</strong> | Beihang University<div
                class="float-right muted">Nov 2023</div>
        </li>
        <li><strong>Second Prize, Scholarship in Outstanding Social Work</strong> | Beihang University<div
                class="float-right muted">Nov 2023</div>
        </li>
        <li><strong>Outstanding Student Leader</strong> | Beihang University<div class="float-right muted">Nov 2023
            </div>
        </li>
        <li><strong>Top Prize, Learning Excellence Scholarship</strong> | <span class="red">Top 2%</span>, Beihang
            University<div class="float-right muted">Dec 2022</div>
        </li>
        <li><strong>Outstanding Student</strong> | <span class="red">Top 1%</span>, Beihang University<div
                class="float-right muted">Sep 2022</div>
        </li>
        <li><strong>Third Prize, 32nd FengRu Cup Competition & Yuyuan Robots Competition</strong> | Beihang University
            <div class="float-right muted">Jun 2022</div>
        </li>
    </ul>
</section>