<section id="course-projects">
    <h2>📚 Course Projects</h2>
    <p>I take each experiment seriously, cherish these practical opportunities, and always exceed the teacher's tasks.
        This seriousness is also reflected in my grades.</p>

    <ul>
        <li>PointNet/PointNet++ point cloud segmentation: I led my team in studying the architectures of PointNet and
            PointNet++. By leveraging a common backbone with different heads, we successfully executed both
            classification and segmentation tasks on point clouds. I further explored the T-Net module, experimenting
            with structural modifications like residual connections to observe different performance outcomes.</li>
    </ul>

    <div class='gallery-row'>
        <div class="gallery-item">
            <img src='./images/pn3.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./images/pn1.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./images/pn2.webp' loading="lazy">
        </div>
    </div>

    <ul>
        <li><a href="https://github.com/ZhouhaoZhang/My_Project_Portfolio/tree/main/in-class%20experiments/8dig">Experiments
                on Eight-Puzzle graph search algorithms</a>: Using BFS, DFS, and A* algorithms, I applied graph search
            strategies to solve the eight-puzzle problem. Through this experiment, we analyzed the differences in search
            strategies and performance.</li>
    </ul>

    <div class='gallery-row'>
        <div class="gallery-item">
            <img src='images/bfs.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='images/astar.webp' loading="lazy">
        </div>
    </div>


    <ul>
        <li><a
                href="https://github.com/ZhouhaoZhang/My_Project_Portfolio/blob/main/in-class%20experiments/Comparison%20experiments%20between%20CNN%20and%20Dense/README.md">Comparison
                experiments between CNN and Dense</a>: Inspired by Prof. Li Mu’s Dive into Deep Learning, I constructed
            various classic neural networks for the MNIST and Fashion MNIST datasets, comparing their performances. I
            also visualized layer-wise results for LeNet to better understand the mechanics of CNNs. Additionally, I
            tested LeNet on handwritten Arabic characters.</li>
    </ul>
    <div class='gallery-row'>
        <div class="gallery-item">
            <img src='images/cnn.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='images/cnn2.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='images/arb.webp' loading="lazy">
        </div>
    </div>


    <ul>
        <li><a
                href="https://github.com/ZhouhaoZhang/My_Project_Portfolio/blob/main/in-class%20experiments/Experiments%20on%20Medical%20Image%20segmentation/liver/README.md">Experiments
                on Medical Image segmentation (Liver)</a>, <a
                href="https://github.com/ZhouhaoZhang/My_Project_Portfolio/blob/main/in-class%20experiments/Experiments%20on%20Medical%20Image%20segmentation/Retinal%20vessels/README.md">(Retinal
                vessels)</a> In this experiment, I reproduced U-Net using PyTorch and optimized its hyperparameters to
            train effectively on a small dataset. While working on liver CT segmentation, I tackled the challenge of
            uneven data distribution by applying normalization, leading to successful results.</li>
    </ul>

    <div class='gallery-row'>
        <div class="gallery-item">
            <img src='./images/liver1.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./images/liver2.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./images/retinalvessels2.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./images/retinalvessels1.webp' loading="lazy">
        </div>
    </div>

    <ul>
        <li><a
                href="https://github.com/ZhouhaoZhang/My_Project_Portfolio/blob/main/in-class%20experiments/EEG-based%20Motor%20Imagery%20Classification/README.md">EEG-based
                Motor Imagery Classification</a>: I implemented the EEGNet network to classify motor imagery using EEG
            signals. Through this experiment, I gained a deep understanding of convolution techniques like group,
            depth-wise, and point-wise convolutions. My model achieved top rankings in both binary and four-class
            classification tasks within the class.</li>
    </ul>

    <div class='gallery-row'>
        <div class="gallery-item">
            <img src='./images/eeg1.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./images/eeg2.webp' loading="lazy">
        </div>
    </div>

    <ul>
        <li><a
                href="https://github.com/ZhouhaoZhang/My_Project_Portfolio/blob/main/in-class%20experiments/Robot%20path%20planning%20experiments/README.md">Robot
                path planning experiments</a> I explored the differences in various heuristic functions in robot path
            planning tasks and summarized my findings in an experimental report.</li>
    </ul>
    <div style="display: flex; justify-content: center; margin: 10px 0;">
        <iframe
            src="//player.bilibili.com/player.html?isOutside=true&aid=953162139&bvid=BV1Us4y1g7rq&cid=1116087360&p=1"
            scrolling="no" frameborder="no" style="width: 45%; aspect-ratio: 16 / 9;"></iframe>
    </div>

    <ul>
        <li><a
                href="https://github.com/ZhouhaoZhang/My_Project_Portfolio/tree/main/in-class%20experiments/GMM%20Built%20by%20EM%20Algorithm">GMM
                Built by Expectation-Maximization Algorithm</a> Given a dataset, I used the Expectation-Maximization
            algorithm to fit a Gaussian mixture model to it and determine the parameters of the distribution.</li>
    </ul>

    <div class="gallery-row">
        <div class="gallery-item">
            <img src="./images/gmm.webp" loading="lazy" />
        </div>
    </div>
</section>