<section id="gallery">
    <h2>Gallery</h2>

    <ul>
        <li>I'm very lucky to have had a great time with you.</li>
    </ul>

    <div class='gallery-row'>
        <div class="gallery-item">
            <img src='./images/groupphoto1.webp' width="1885" height="1257" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./images/groupphoto2.webp' width="1615" height="1077" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./images/groupphoto3.webp' width="2088" height="1392" loading="lazy">
        </div>
    </div>

    <ul>
        <li>Medium format film photography.</li>
    </ul>

    <div class='gallery-row'>
        <div class="gallery-item">
            <img src='./gallery/1.webp' width="802" height="979" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/8.webp' width="5541" height="4538" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/2.webp' width="5708" height="4675" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/3.webp' width="5708" height="4675" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/4.webp' width="5708" height="4675" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/6.webp' width="5525" height="4525" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/7.webp' width="5708" height="4675" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/9.webp' width="5708" height="4675" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/5.webp' width="984" height="799" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/14.webp' width="886" height="886" loading="lazy">
        </div>
    </div>

    <ul>
        <li>iPhone photography.</li>
    </ul>

    <div class='gallery-row'>
        <div class="gallery-item">
            <img src='./gallery/15.webp' width="1600" height="1600" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/16.webp' width="1600" height="1066" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/17.webp' width="1600" height="1600" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/18.webp' width="1600" height="1600" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/19.webp' width="1600" height="1600" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/20.webp' width="1600" height="1600" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/21.webp' width="1600" height="1600" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/22.webp' width="1600" height="1599" loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/23.webp' width="1600" height="1600" loading="lazy">
        </div>

    </div>
</section>
