<section id="skills">
    <h2>🦾 My Skills</h2>
    <ul>
        <li><strong>Languages</strong>: Chinese (Native), English (TOEFL: 98)</li>
        <li><strong>Programming Languages</strong>: Python, C, C++</li>
        <li><strong>Robot Development Environments</strong>: Linux, ROS, ROS2, Gazebo, PyBullet, MATLAB, SolidWorks</li>
        <li><strong>Development Libraries</strong>: Pytorch, OpenCV, OpenAI Gym, PCL, Eigen</li>
        <li><strong>Robot Hardware</strong>: Diﬀerential/Omni-directional/Quadruped Chassis, Robotic Arms, LiDAR, Depth
            Camera, IMU, TOF</li>
        <li><strong>Embedded Systems</strong>: NVIDIA Jetson, Raspberry Pi, STM32, ESP32, Arduino</li>
    </ul>
</section>