<section id="about">
    <h2>👋 About Me</h2>

    <p>
        My name is Zhouhao Zhang, I'm currently a visiting student at King Abdullah University of Science and
        Technology(KAUST), under the supervision of <a
            href="https://www.kaust.edu.sa/en/study/faculty/shinkyu-park">Prof. Shinkyu Park</a>.
    </p>

    <p>
        Prior to this, I was a research intern at <a href="https://www.zhipuai.cn/en/">Zhipu AI</a> X-lab under the
        leadership of <a href="https://scholar.google.com/citations?user=n1zDCkQAAAAJ&hl=en&oi=ao">Prof. Jie Tang</a>
        and the guidance of <a href="https://scholar.google.com/citations?user=gxdjxrwAAAAJ&hl=en&oi=ao">Dr. Tong
            Yang</a>. My work focuses on intelligent robot research.
    </p>

    <p>
        I got my Bachelor's degree in Automation from <a href="https://ev.buaa.edu.cn">Beihang University</a>. I was
        honored with the National Scholarship and got national third place in the 2024 China University Robot
        Competition (ROBOCON).
    </p>
</section>