<section id="gallery">
    <h2>Gallery</h2>

    <ul>
        <li>I'm very lucky to have had a great time with you.</li>
    </ul>

    <div class='gallery-row'>
        <div class="gallery-item">
            <img src='./images/groupphoto1.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./images/groupphoto2.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./images/groupphoto3.webp' loading="lazy">
        </div>
    </div>

    <ul>
        <li>Medium format film photography.</li>
    </ul>

    <div class='gallery-row'>
        <div class="gallery-item">
            <img src='./gallery/1.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/8.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/2.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/3.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/4.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/6.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/7.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/9.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/5.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/14.webp' loading="lazy">
        </div>
    </div>

    <ul>
        <li>iPhone photography.</li>
    </ul>

    <div class='gallery-row'>
        <div class="gallery-item">
            <img src='./gallery/15.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/16.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/17.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/18.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/19.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/20.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/21.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/22.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/23.webp' loading="lazy">
        </div>
        
    </div>
</section>
