<section id="gallery">
    <h2>🎞️ Gallery</h2>

    <ul>
        <li>I'm very lucky to have had a great time with you.</li>
    </ul>

    <div class='gallery-row'>
        <div class="gallery-item">
            <img src='./images/groupphoto1.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./images/groupphoto2.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./images/groupphoto3.webp' loading="lazy">
        </div>
    </div>

    <ul>
        <li>The following images were taken on medium format film.</li>
    </ul>

    <div class='gallery-row'>
        <div class="gallery-item">
            <img src='./gallery/1.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/8.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/2.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/3.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/4.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/6.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/7.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/9.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/5.webp' loading="lazy">
        </div>
        <div class="gallery-item">
            <img src='./gallery/14.webp' loading="lazy">
        </div>
    </div>
</section>